.logo-header {
    /*position: fixed;*/
    background-color: #CDCDCD;
    font-size: 20px;
}

.logo {
    /*display: inline-block;*/
    background-color: red;
    border-radius: 10px;
}

.menu-header {
    background-color: #CDCDCD;
    margin-top: 5px;
    text-align: center;
}

div .row .col-12 {
    margin-top: 10px;
}

.col-12 {
    margin-top: -10px;
}

body {
    scroll-padding-top: 100px;
}

span span {
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
    font-weight: bolder;
}

footer {
    position: relative;
    bottom: 0;
    color: white;
    background-color: gray;
    text-align: center;
    padding: 15px;
    height: 50px;
}

@media only screen and ( max-width: 768px ) {
    .row {
        background-color: cadetblue;
        margin-top: 5px;
        text-align: center;
    }

    [class*="col-"] {
        width: 100%;
    }
}
